# Byte-compiled / optimized / DLL files
__pycache__/
.bak
.vscode/
.vs
LICENCE
lib/resources/lib/modules/backup/sources - kopie (2).py
lib/resources/lib/modules/backup/sources - kopie.py
lib/resources/lib/modules/player_copy_20250205.py
lib/resources/lib/modules/player_copy_20250205.py
lib/resources/lib/modules/player_copy_20250205.py
lib/resources/lib/modules/sources - kopie (2).py
lib/resources/lib/modules/sources_copy.py
lib/resources/lib/modules/sources - kopie (2).py
lib/resources/lib/modules/sources - kopie.py
lib/resources/lib/modules/sources_copy.py
